# project1:
#   link:
#     platform: "platform-x.x"
#     repo: "repo1"
#
#   drupal:
#     settings:
#       mysql:
#         host: localhost
#         user: root
#         passwd: root
#
#       confs:
#         theme_debug: 1

# project2:
#   link:
#     platform: "platform-y.y"
#     repo: "repo2"
#
#   drupal:
#     settings:
#       mysql:
#         host: localhost
#         user: root
#         passwd: root
#
#       confs:
#         theme_debug: 1
